.report{
    background-color: black;
    height: 100vh;
}

.report-text{
    text-align: center;
    color: white;
    font: 1.5rem 'robotothin', sans-serif;
}

h1{
    font-size: 2rem;
}

p{

font: 1em 'robotothin', sans-serif;
}

button{
    text-align: center;
    color: white;
    border: none;
    background: transparent;
font: 1.5rem 'robotothin', sans-serif;
    width: 100vw;
}

textarea{
    color:black;
    width: 97vw;
  font: 1.5rem 'robotothin', sans-serif;
}

::-webkit-input-placeholder{
color: red;
font-size: 1rem;
}

select{
    color: red;
    background: transparent;
    border: none;
    font-size: 1rem;
    width: 100vw;
}

.reportForm{
border: none;
border-bottom: 1px white solid;
background:transparent;
margin-bottom: 20px;
height: 35px;
font-size: 1rem;
}

