<ul>
<li *ngFor="let apples of appleList"> 
  <div>
    name: {{apples.name}}
  </div>
  <div>
    colour: {{apples.colour}}
  </div>
   </li>
</ul>
<div>
  <form #appleForm="ngForm">
    <h4>Apple Form</h4>
    Name: <input type="text" [(ngModel)]="apple.name" name ="name" required/>
    Colour: <input type="text"[(ngModel)]="apple.colour" name="colour" required/>
    <button type = "" 
            (click)="addApples()" 
            [disabled]="appleForm.form.invalid">
  Add Apples
</button>
  </form>
</div>