.encounter{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.encounter-list{
    height: 75vh;
}


.encounter-list{
    flex:1;
    overflow: scroll;
    padding: 0 1rem 2rem;
}

button{
    padding: 20px;
    width: 100%;
    text-align: center;
    border:none;
    background: black;
    color: white;
    font-size: 2rem;
}
