.encounter{
    height: 100vh;
    background: black;
}
.encounter-text{
    text-align: center;
    color: white;
}

.encounter-btn{
    height: 20%;
}

.information{
    background: #D3D3D3;
    height: 75%;
}

button{
    padding: 20px;
    width: 100vw;
    text-align: center;
    border:none;
    background: transparent;
    color: white;
    font-size: 2rem;
}
h1{
    font-size: 2rem;

}

p{
    font-size: 1rem;
    
}