<div class = "head">
  <button class="hamburger" (ngClick)="onClick($event, openMenu)" >&#9776;</button>
  <button class="cross">&#735;</button>
</div>

<div class="menu">
  <ul>
  <a routerLink="" routerLinkActive="active">Welcome</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/encounters" routerLinkActive="active">Encounters</a>
    <a routerLink="/report" routerLinkActive="active">Report</a>
    <a routerLink="/notFound" routerLinkActive="active">Not Found</a>
  </ul>
  <router-outlet></router-outlet>
</div> 