.app-container{
background-color: red;
}


nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    font: 1rem 'robotothin', sans-serif;
    color: white;
    text-decoration: none;
}