<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>MarsColony</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
  <div class="report-text">
    <h1>Mars Colony 1</h1>
  </div>

  <div class="welcome-btn">
    <button type="button" class="welcome"></button>
  </div>


<body>
  <div class="report-text">
    <h2>Tap Circle to enter</h2>
  </div>


  
</body>

</html>
