<div class="register"> 
  <h1>Register</h1>
  <form>
    <input type="text" placeholder="Name" [(ngModel)]="colonist.name" name="name"/>
    <input type="number" placeholder="Age" [(ngModel)]="colonist.age" name="age">
  </form>
  <form class="occupation" action="#">
      <select name="occupations_selection">
 					<option value="">Occupation</option>
  					<option value= "#">Dust Farmer</option>
					<option value= "#">Alien Hunter</option>
  					<option value="#">Battery Technician</option>
  					<option value="#">Yoga Teacher</option>
  					<option value="#">Front End Developer</option>
            </select>
  </form>
  <button type="button" class="checkin">Check In</button>

  {{colonist.name}} - {{colonist.age}}
</div>