<div class="register"> 
  <h1>Register</h1>
  <form>
    <input type="text" placeholder="Name">
    <input type="number" placeholder="Age">
  </form>
  <form class="occupation" action="#">
      <select name="occupations_selection">
 					<option value="">Occupation</option>
  					<option value= "#">Dust Farmer</option>
					<option value= "#">Alien Hunter</option>
  					<option value="#">Battery Technician</option>
  					<option value="#">Yoga Teacher</option>
  					<option value="#">Front End Developer</option>
            </select>
  </form>
  <button type="button" class="checkin">Check In</button>
</div>