.register{
    background-color: black;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=number], .occupation{
border: none;
border-bottom: 1px white solid;
background:transparent;
margin-bottom: 20px;
height: 35px;
font-size: 1rem;
color: white;
}

select{
    color: red;
    background: transparent;
    border: none;
    font-size: 1rem;
    width: 100vw;
}

::-webkit-input-placeholder{
color: red;
font-size: 1rem;
}

.checkin{
    text-align: center;
    color: white;
    border: none;
    background: transparent;
    font-size: 2rem;
    width: 97vw;
    
}
