.register{
    background-color: black;
    height: 100vh;
}

h1 {
    text-align: center;
    color: white;
    font: 1.5rem 'robotolight', sans-serif;
    text-decoration: uppercase;
    padding-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=number], select{
border: none;
border-bottom: 1px white solid;
background:transparent;
margin-bottom: 20px;
height: 35px;
font: 1rem 'robotothin', sans-serif;
color: white;

}



.NO_JOB_SELECTED{
    color: red;
    background: transparent;
    border: none;
    font: 1rem 'robotothin', sans-serif;
    width: 100vw;
    -webkit-appearance: none;
}

::-webkit-input-placeholder{
color: red;
font: 1rem 'robotothin', sans-serif;
}

button{
    padding-top: 20px;
    text-align: center;
    color: white;
    border: none;
    background: transparent;
    font: 1.5rem 'robotolight', sans-serif;
width: 100vw;
    
}

.register-form-section{
    padding: 0 2rem;
}
